<div class="container">
  <div class="box">
    <div style="text-align: center" *ngIf="!nuser.isLoggedIn()">
      <label for="uName">Email</label><input type="text" id="uName" placeholder="user-email" [(ngModel)]="uName"><br>
      <label for="pwd">Password</label><input type="password" id="pwd" placeholder="*******" [(ngModel)]="pwd"><br>
      <p *ngIf="errmsg">{{errmsg}}</p>
      <button (click)="loginWithEmail()">Login</button>
      <button (click)="loginWithGoogle()">Sign in with google</button>
      <h3 class="newReg" (click)="loadRegister()">Not a member ?</h3>
    </div>    
    <div *ngIf="nuser.isLoggedIn()">
      <p>Logout form your account {{nuser.getDetails().email}}</p>
      <button (click)="logoutUser()">Logout</button>
      </div>
  </div>    
</div>