<header class="grid-container">
  <div class="grid-item title-logo">
    <div class="logo"><img src="./assets/logo.png" alt="logo" routerLink=""></div>
    <div class="title">Fifa world cup 2018 | Russia </div>
</div>
<div class="grid-item countdown">
  <!--h3>Time until kick off</h3>{{days}} days {{hours}} hrs {{minutes}} mins {{seconds}} secs -->
</div>
</header>
<nav>
  <a routerLink="/home" class="lefty">Home</a>
  <a routerLink="/groups" class="lefty">Groups</a>
  <a routerLink="/predict" class="lefty">Predictions</a>   
  <a routerLink="/notifications" class="lefty">
    <i class="fa fa-bell-o" aria-hidden="true"></i>
  </a>    
  <a routerLink="/login" class="lefty" >
    <i class="fa fa-user"></i> / <i class="fa fa-user-plus"></i>
  </a>
  <a routerLink="" class="lefty" *ngIf="logged">Welcome, {{currentUser}}</a>
  <a routerLink="/login" class="lefty" *ngIf="!logged">Welcome {{currentUser}}</a>
</nav>

<router-outlet></router-outlet>
<!--//footer-->
<div class="foot">
  <p>By <strong>Asu</strong></p>
  <p>Github : <a href="https://github.com/a2subedi" target="_blank">a2subedi</a></p>
</div>