
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
.grid-item {
    padding: 20px;
    border: 5px solid #eaeaea;
  }
  .fixture{
    padding:5px;
  }
  .main-text{
    color: #eaeaea;
    text-decoration: none;
    background: #292929;
    position: relative;
   
    }