
p {
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    border: 5px solid #eaeaea;
  }
  .main-text{
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;   
    }